body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
    font-weight: bold;
}


h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.4rem;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7% 15%;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.big-heading{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 2rem;
  padding: 0;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 27%;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.column {
  text-align: center;
  line-height: 1.5rem;
  padding: 5%;
}

.features-p {
  color: #8f8f8f;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 6%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  color: white;
  text-align: center;
  padding: 7% 15%;
}

.cta-h3 {
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.footer-icon {
  margin: 20px 15px;
}

@media (max-width: 1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
